@import "src/styles/scaffold";

.fs-filter-slider {
  // --------------------------------------------------------
  // Design Tokens for Filter Slider
  // --------------------------------------------------------

  // Content
  --fs-filter-slider-content-height                   : calc(100vh - var(--fs-filter-slider-footer-height));
  --fs-filter-slider-content-padding                  : var(--fs-spacing-3) var(--fs-spacing-3) calc(var(--fs-filter-slider-footer-height) + var(--fs-spacing-3));

  // Header
  --fs-filter-slider-header-icon-margin-right         : calc(-1 * var(--fs-spacing-1));

  // Footer
  --fs-filter-slider-footer-width                     : 100%;
  --fs-filter-slider-footer-height                    : 5rem;
  --fs-filter-slider-footer-padding                   : var(--fs-spacing-3);
  --fs-filter-slider-footer-bkg-color                 : var(--fs-color-neutral-0);
  --fs-filter-slider-footer-box-shadow                : 0 0 6px rgb(0 0 0 / 20%);

  // Footer Buttons
  --fs-filter-slider-footer-button-clear-width        : 40%;
  --fs-filter-slider-footer-button-clear-margin-right : var(--fs-spacing-3);

  --fs-filter-slider-footer-button-apply-width        : 60%;

  [data-fs-filter-slider-content] {
    height: var(--fs-filter-slider-content-height);
    padding: var(--fs-filter-slider-content-padding);
    overflow-x: hidden;
    overflow-y: auto;
  }

  [data-fs-filter-slider-header] {
    position: relative;
    display: flex;
    align-items: center;
    justify-content: space-between;
  }

  [data-fs-filter-slider-header-icon] {
    margin-right: var(--fs-filter-slider-header-icon-margin-right);
  }

  [data-fs-filter-slider-footer] {
    position: sticky;
    bottom: 0;
    display: flex;
    justify-content: space-between;
    width: var(--fs-filter-slider-footer-width);
    height: var(--fs-filter-slider-footer-height);
    padding: var(--fs-filter-slider-footer-padding);
    background-color: var(--fs-filter-slider-footer-bkg-color);
  }

  [data-fs-filter-slider-footer-button-clear] {
    width: var(--fs-filter-slider-footer-button-clear-width);
    margin-right: var(--fs-filter-slider-footer-button-clear-margin-right);
  }

  [data-fs-filter-slider-footer-button-apply] {
    width: var(--fs-filter-slider-footer-button-apply-width);
  }
}

.filter-modal__content {
  &[data-store-modal-content] {
    width: 100%;
  }

  .filter-modal__header {
    border-bottom: 1px solid #cccccc;

    [data-store-button] svg {
      width: 15px;
      height: 15px;
    }

    @include media(">=notebook") {
      border: 0;
    }

    .filter-text-lead {
      display: flex;
      align-items: center;
      height: var(--product-listing-row-height);
      margin-bottom: var(--fs-spacing-0);
      font-size: var(--fs-text-size-base);
      font-weight: var(--fs-text-weight-bold);
      line-height: 22px;

      &::before {
        display: inline;
        width: 84px;
        height: 32px;
        margin-right: 1.125rem;
        margin-bottom: var(--fs-spacing-1);
        content: " ";
        background-image: url("data:image/svg+xml,%3Csvg width='85' height='32' viewBox='0 0 85 32' fill='none' xmlns='http://www.w3.org/2000/svg'%3E%3Cpath d='M5.25384 17.1038C2.73637 17.1038 1.47764 18.02 1.47764 19.8523C1.47764 20.9249 1.7591 21.6474 2.32201 22.0199C2.90056 22.3923 4.01856 22.7349 5.67602 23.0478C7.34912 23.3606 8.53748 23.7926 9.24112 24.3438C9.9604 24.895 10.32 25.8187 10.32 27.1147C10.32 28.7832 9.88222 29.9899 9.00658 30.7348C8.14657 31.4647 6.88002 31.8297 5.20693 31.8297C3.98729 31.8297 2.57219 31.7254 0.96164 31.5169L0.117273 31.4051L0.281455 30.2208C2.42364 30.4741 4.0811 30.6007 5.25384 30.6007C6.42657 30.6007 7.31784 30.3325 7.92766 29.7962C8.53748 29.245 8.84239 28.448 8.84239 27.4052C8.84239 26.3475 8.56876 25.6325 8.02148 25.26C7.48984 24.8727 6.62984 24.5748 5.44147 24.3662C4.26874 24.1576 3.40874 23.9714 2.86146 23.8075C2.31419 23.6288 1.79819 23.383 1.31346 23.0701C0.844367 22.7424 0.508184 22.3327 0.30491 21.8411C0.101637 21.3346 0 20.7015 0 19.9417C0 17.2304 1.72001 15.8748 5.16002 15.8748C6.19202 15.8748 7.53675 15.979 9.19421 16.1876L9.96822 16.2993L9.85094 17.4837C7.69312 17.2304 6.16075 17.1038 5.25384 17.1038Z' fill='black'%3E%3C/path%3E%3Cpath d='M18.9572 21.6623H15.0403V27.1818C15.0403 28.6268 15.1497 29.5728 15.3686 30.0197C15.5876 30.4666 16.1036 30.6901 16.9166 30.6901L19.0745 30.5337L19.1683 31.6733C18.1363 31.8223 17.3466 31.8968 16.7994 31.8968C15.611 31.8968 14.7823 31.6212 14.3132 31.07C13.8597 30.5039 13.633 29.4313 13.633 27.8521V21.6623H11.8974V20.478H13.633V16.9697H15.0403V20.478H18.9572V21.6623Z' fill='black'%3E%3C/path%3E%3Cpath d='M29.2228 23.8075V29.7962C29.2854 30.3474 29.7935 30.6752 30.7474 30.7795L30.677 31.8521C29.473 31.8521 28.5895 31.5541 28.0266 30.9582C26.5568 31.569 25.087 31.8744 23.6172 31.8744C22.5695 31.8744 21.7721 31.5914 21.2248 31.0253C20.6775 30.4443 20.4039 29.6249 20.4039 28.5672C20.4039 27.4946 20.6775 26.7051 21.2248 26.1986C21.7877 25.6771 22.6633 25.3569 23.8517 25.2377L27.839 24.8578V23.8075C27.839 22.9733 27.6435 22.3774 27.2526 22.0199C26.8774 21.6474 26.3692 21.4612 25.7281 21.4612C24.7273 21.4612 23.4295 21.5506 21.8346 21.7294L21.1075 21.7964L21.0371 20.7238C22.7572 20.411 24.2583 20.2545 25.5404 20.2545C26.8383 20.2545 27.7764 20.545 28.355 21.126C28.9335 21.707 29.2228 22.6009 29.2228 23.8075ZM21.8581 28.4778C21.8581 29.9825 22.507 30.7348 23.8048 30.7348C24.3677 30.7348 24.9853 30.6752 25.6577 30.556C26.3301 30.4219 26.8617 30.2878 27.2526 30.1538L27.839 29.9527V25.9081L24.0159 26.2879C23.2497 26.3475 22.6946 26.5561 22.3506 26.9136C22.0222 27.2712 21.8581 27.7926 21.8581 28.4778Z' fill='black'%3E%3C/path%3E%3Cpath d='M32.8588 31.6509V20.478H34.2427V22.0869C34.8212 21.6996 35.5248 21.3272 36.3536 20.9696C37.1979 20.6121 37.9719 20.3737 38.6756 20.2545V21.5953C38.0032 21.7294 37.2996 21.9379 36.5647 22.221C35.8298 22.4891 35.259 22.7275 34.8525 22.9361L34.2427 23.2712V31.6509H32.8588Z' fill='black'%3E%3C/path%3E%3Cpath d='M46.7409 21.6623H42.8239V27.1818C42.8239 28.6268 42.9334 29.5728 43.1523 30.0197C43.3712 30.4666 43.8872 30.6901 44.7003 30.6901L46.8581 30.5337L46.9519 31.6733C45.9199 31.8223 45.1303 31.8968 44.583 31.8968C43.3947 31.8968 42.5659 31.6212 42.0968 31.07C41.6434 30.5039 41.4166 29.4313 41.4166 27.8521V21.6623H39.681V20.478H41.4166V16.9697H42.8239V20.478H46.7409V21.6623Z' fill='black'%3E%3C/path%3E%3Cpath d='M56.7016 30.5337L57.4052 30.4666L57.4521 31.5616C55.6852 31.7701 54.1919 31.8744 52.9723 31.8744C51.2835 31.8595 50.103 31.3828 49.4306 30.4443C48.7583 29.5057 48.4221 28.0607 48.4221 26.1092C48.4221 22.2061 50.0326 20.2545 53.2537 20.2545C54.8017 20.2545 55.9588 20.6791 56.725 21.5283C57.4912 22.3625 57.8743 23.7033 57.8743 25.5505L57.8274 26.6231H49.8528C49.8528 27.9937 50.0952 29.0141 50.5799 29.6845C51.0803 30.34 51.9246 30.6677 53.113 30.6677C54.317 30.6677 55.5132 30.623 56.7016 30.5337ZM49.8528 25.5058H56.467C56.467 24.031 56.209 22.9807 55.693 22.3551C55.1926 21.7294 54.3795 21.4165 53.2537 21.4165C52.1435 21.4165 51.2992 21.7443 50.7206 22.3998C50.1421 23.0403 49.8528 24.0757 49.8528 25.5058Z' fill='black'%3E%3C/path%3E%3Cpath d='M60.757 31.6509V20.478H62.1408V22.0869C62.7194 21.6996 63.423 21.3272 64.2517 20.9696C65.0961 20.6121 65.8701 20.3737 66.5737 20.2545V21.5953C65.9014 21.7294 65.1977 21.9379 64.4628 22.221C63.7279 22.4891 63.1572 22.7275 62.7506 22.9361L62.1408 23.2712V31.6509H60.757Z' fill='black'%3E%3C/path%3E%3Cpath d='M0.861206 14.5175V0.251749H10.1842V2.76923H3.82567V6.96504H9.02421V9.48252H3.82567V14.5175H0.861206Z' fill='black'%3E%3C/path%3E%3Cpath d='M10.5873 14.5175L13.874 0.251749H19.5022L22.7889 14.5175H19.8244L19.2444 11.9371H14.1318L13.5518 14.5175H10.5873ZM16.1725 2.64336L14.6903 9.41958H18.6859L17.2037 2.64336H16.1725Z' fill='black'%3E%3C/path%3E%3Cpath d='M29.0771 2.51748C27.5161 2.51748 26.7356 3.02098 26.7356 4.02797C26.7356 4.47552 26.9289 4.81818 27.3156 5.05594C27.7023 5.29371 28.6045 5.63636 30.0223 6.08392C31.4544 6.53147 32.4569 7.04196 33.0297 7.61539C33.6026 8.17483 33.889 9.04196 33.889 10.2168C33.889 11.7133 33.4235 12.8462 32.4927 13.6154C31.5618 14.3846 30.3445 14.7692 28.8408 14.7692C27.7238 14.7692 26.3561 14.6014 24.7378 14.2657L23.9645 14.1189L24.2652 11.8741C26.1843 12.1259 27.6522 12.2517 28.669 12.2517C30.187 12.2517 30.946 11.6364 30.946 10.4056C30.946 9.95804 30.767 9.60839 30.409 9.35664C30.0653 9.1049 29.3707 8.83217 28.3252 8.53846C26.664 8.07692 25.4897 7.53147 24.8023 6.9021C24.1292 6.25874 23.7926 5.37063 23.7926 4.23776C23.7926 2.81119 24.2366 1.74825 25.1245 1.04895C26.0124 0.34965 27.2297 0 28.7764 0C29.8361 0 31.1823 0.13986 32.8149 0.41958L33.5882 0.566434L33.3519 2.85315C31.3327 2.62937 29.9077 2.51748 29.0771 2.51748Z' fill='black'%3E%3C/path%3E%3Cpath d='M44.6716 14.5175V8.6014H39.2367V14.5175H36.2723V0.251749H39.2367V6.08392H44.6716V0.251749H47.636V14.5175H44.6716Z' fill='black'%3E%3C/path%3E%3Cpath d='M50.8101 14.5175V0.251749H53.7746V14.5175H50.8101Z' fill='black'%3E%3C/path%3E%3Cpath d='M59.9856 11.1608C60.4152 11.8881 61.21 12.2517 62.37 12.2517C63.53 12.2517 64.3177 11.8881 64.733 11.1608C65.1627 10.4196 65.3775 9.18881 65.3775 7.46853C65.3775 5.73427 65.1627 4.47552 64.733 3.69231C64.3034 2.90909 63.5157 2.51748 62.37 2.51748C61.2244 2.51748 60.4367 2.90909 60.0071 3.69231C59.5774 4.47552 59.3626 5.73427 59.3626 7.46853C59.3626 9.18881 59.5703 10.4196 59.9856 11.1608ZM67.053 13.007C66.1508 14.1818 64.5898 14.7692 62.37 14.7692C60.1503 14.7692 58.5821 14.1818 57.6656 13.007C56.7633 11.8182 56.3122 9.96504 56.3122 7.44755C56.3122 4.93007 56.7633 3.06294 57.6656 1.84615C58.5821 0.615385 60.1503 0 62.37 0C64.5898 0 66.1508 0.615385 67.053 1.84615C67.9696 3.06294 68.4278 4.93007 68.4278 7.44755C68.4278 9.96504 67.9696 11.8182 67.053 13.007Z' fill='black'%3E%3C/path%3E%3Cpath d='M70.9701 14.5175V0.251749H75.9753L79.4982 12H79.7131V0.251749H82.6775V14.5175H77.8012L74.1493 2.76923H73.9345V14.5175H70.9701Z' fill='black'%3E%3C/path%3E%3Cpath d='M84.4 25.8462L76.649 32.0001L76.649 19.6924L84.4 25.8462Z' fill='black'%3E%3C/path%3E%3Cpath d='M76.649 25.8462L68.898 32.0001L68.898 19.6924L76.649 25.8462Z' fill='%2377DA7A'%3E%3C/path%3E%3C/svg%3E");
        background-repeat: no-repeat;
      }
    }

    [data-fs-button-inverse="true"] {
      &:active,
      &:hover {
        background-color: transparent;
      }
    }
  }

  .filter-modal__footer {
    button {
      width: calc(50% - 12.5px);
      border-radius: var(--fs-btn-primary-radius);

      &[data-store-button] {
        color: var(--fs-color-neutral-7);
        background-color: var(--fs-color-accent-3);
      }

      &[data-fs-filter-slider-footer-button-clear] {
        display: flex;
        flex-wrap: wrap;
        place-content: center;
        justify-content: center;
        padding: var(--fs-btn-padding);
        margin: 0;
        font-size: var(--fs-text-size-base);
        font-weight: var(--fs-text-weight-regular);
        color: var(--fs-btn-ghost-color-default);
        text-decoration: none;
        background-color: transparent;
        border: var(--fs-btn-ghost-border-default);
        transition: backgroun-color .3s ease-in-out, color .3s ease-in-out, border .3s ease-in-out;

        &::after {
          display: block;
          width: 0;
          min-width: 100%;
          height: 1px;
          content: "";
          background: transparent;
          transition: background .3s ease-in-out;
        }

        &:hover {
          &::after {
            background-color: var(--fs-color-neutral-7);
          }
        }
      }
    }
  }
}
