@import "src/styles/scaffold";

.product-details__title,
.product-details__settings {
  @include media(">=tablet") {
    border: none;
  }
}

.product-details__settings {
  @include media(">=tablet") {
    padding: var(--fs-spacing-3);
  }
}

.header-content {
  width: 100%;
}

[data-fs-sku-selector] {
  margin-bottom: 30px;
}
