@import "src/styles/scaffold";

.fs-cart-item {
  // --------------------------------------------------------
  // Design Tokens for CartItem
  // --------------------------------------------------------

  // Default properties
  --fs-cart-item-padding: var(--fs-spacing-3);
  --fs-cart-item-bkg-color: var(--fs-control-bkg);

  --fs-cart-item-border-width: var(--fs-border-width);
  --fs-cart-item-border-color: var(--fs-border-color-light);
  --fs-cart-item-border-radius: none;

  // Image
  --fs-cart-item-image-border-radius: var(--fs-cart-item-border-radius);

  // Title
  --fs-cart-item-title-margin-bottom: var(--fs-spacing-0);
  --fs-cart-item-title-line-height: 1.2;
  --fs-cart-item-title-color: var(--fs-color-text);

  // Actions
  --fs-cart-item-actions-margin-top: var(--fs-spacing-3);

  // --------------------------------------------------------
  // Structural Styles
  // --------------------------------------------------------

  padding: var(--fs-cart-item-padding);
  background-color: var(--fs-cart-item-bkg-color);
  border-bottom:
    var(--fs-cart-item-border-width) solid
    var(--fs-cart-item-border-color);
  border-radius: var(--fs-cart-item-border-radius);

  [data-fs-cart-item-content] {
    display: grid;
    grid-template-columns: 4.5rem 2fr 1fr;
    column-gap: var(--fs-grid-gap-1);
    align-items: center;
  }

  [data-fs-cart-item-summary] {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    justify-content: space-around;
    height: 100%;
  }

  [data-fs-cart-item-buttons] {
    display: flex;
    flex-direction: column;
    align-items: flex-end;
    justify-content: space-around;
    height: 100%;

    button {
      padding: 0;
    }
  }

  [data-fs-cart-item-title] {
    margin-bottom: var(--fs-cart-item-title-margin-bottom);
    line-height: var(--fs-cart-item-title-line-height);
    color: var(--fs-cart-item-title-color);
    text-decoration: none;
    outline: none;

    @include truncate-title;
  }

  [data-fs-cart-item-prices] {
    display: flex;
    flex-direction: column;
    align-items: flex-end;
  }

  [data-fs-cart-item-actions] {
    display: flex;
    justify-content: space-between;
    margin-top: var(--fs-cart-item-actions-margin-top);
  }
}
