@import "../../../styles/vendors/include-media";

.carousel__banner--size {
  min-width: 100%;
}

.gatsby-image-wrapper-constrained {
  min-width: 100%;
}

.carousel-banner__content {
  position: absolute;
  top: 50%;
  right: 0;
  left: 0;
  z-index: 10;
  width: 100%;
  max-width: var(--fs-grid-breakpoint-notebook);
  padding: 2rem;
  transform: translateY(-50%);

  @include media(">=notebook") {
    padding-right: 3rem;
    padding-left: 3rem;
    margin: 0 auto;
  }
}

.carousel-banner__img-desktop {
  z-index: 0;
  display: none;

  @include media(">=notebook") {
    display: block;
  }
}

.carousel-banner__img-mobile {
  z-index: 0;
  display: block;

  .gatsby-image-wrapper img {
    height: 450px;
  }

  @include media(">=notebook") {
    display: none;
  }
}

.carousel-banner__img-mobile img {
  height: 450px;
}

.carousel-banner__title {
  font-size: 48px;
  font-weight: bold;
  line-height: 56px;
  color: var(--color-neutral-7);

  @include media(">=notebook") {
    font-size: 80px;
    line-height: 112px;
  }
}

.carousel-banner__subtitle {
  font-size: 32px;
  font-weight: bold;
  line-height: 50px;
  color: var(--color-neutral-7);

  @include media(">=notebook") {
    font-size: 54px;
    line-height: 76px;
  }
}

.carousel-banner__description {
  font-size: 16px;
  font-weight: bold;
  line-height: 22px;
  color: var(--color-neutral-7);

  @include media(">=notebook") {
    font-size: 24px;
    line-height: 32px;
  }
}

.carousel-banner__button {
  display: inline-block;
  padding: 6px 24px 8px;
  margin-top: 20px;
  font-family: var(--fs-text-face-body);
  font-size: 16px;
  font-weight: var(--fs-text-weight-regular);
  line-height: 22px;
  color: #ffffff;
  text-decoration: none;
  background: #000000;
  border: none;
  border-radius: 4px;
  transition: all 0.3s ease-out;

  &:hover {
    background: #666666;
  }
}

[data-store-carousel] {
  position: relative;
  display: flex;
  align-items: center;
  width: 100%;
  min-width: 100%;
  max-width: var(--fs-grid-breakpoint-notebook);
  max-height: 480px;
  margin: 0 auto;
  overflow: hidden;

  @include media(">=notebook") {
    max-height: 580px;

    // max-height: fit-content;
  }

  [data-store-icon] {
    line-height: 0;

    svg {
      width: 12px;
      height: 12px;
    }
  }
}

[data-store-button][data-arrow] {
  position: absolute;
  padding: 0.5rem;
  color: #9ca3af;
  background-color: transparent;
  border: inherit;

  @include media(">=notebook") {
    color: #000000;
    background-color: #ffffff;
    border: inherit;
    border-radius: 9999px;
    box-shadow: 0 2px 4px rgb(0 0 0 / 24%);
    transition: all 0.3s ease-out;

    &:hover {
      cursor: pointer;
      box-shadow: 0 8px 16px rgb(0 0 0 / 12%);
    }
  }
}

// @media only screen and (orientation:portrait) {
//   [data-store-button][data-arrow] {
//     position: absolute;
//     padding: 0.5rem;
//     color: #9ca3af;
//     background-color: transparent;
//     border: inherit;
//     }
//  }
// @media only screen and (orientation:landscape) {
// [data-store-button][data-arrow] {
//   position: absolute;
//   padding: 0.5rem;
//   color: #9ca3af;
//   background-color: transparent;
//   border: inherit;
//   }
// }

[data-store-icon-button] {
  display: inline-flex;
  margin-top: 0;
}

[data-arrow="right"] {
  right: 0;

  @include media(">=notebook") {
    right: 0.5rem;
  }
}

[data-arrow="left"] {
  left: 0;

  @include media(">=notebook") {
    left: 0.5rem;
  }
}

[data-carousel-item] {
  position: relative;
  display: flex;
  align-items: center;

  > div {
    min-width: 100%;
  }
}

[data-carousel-bullets] {
  position: absolute;
  bottom: 0;
  display: flex;
  justify-content: center;
  width: 100%;
  background-color: var(--color-neutral-0);

  @include media(">=notebook") {
    background-color: transparent;
  }
}

[data-store-bullets] [data-bullet-item][aria-selected="false"] {
  padding: 0.125rem 0.75rem;
  margin: 1rem 0.25rem;
  background-color: var(--fs-color-neutral-10);
  border: none;
  border-radius: 0;
}

[data-store-bullets] [data-bullet-item][aria-selected="true"] {
  padding: 0.125rem 0.75rem;
  margin: 1rem 0.25rem;
  background-color: var(--fs-color-neutral-11);
  border: none;
  border-radius: 0;
}

[data-carousel-controls] {
  position: absolute;
  right: 0;
  left: 0;
  box-sizing: border-box;
  width: 100%;
  max-width: var(--fs-grid-breakpoint-notebook);
  padding-right: var(--fs-grid-padding);
  padding-left: var(--fs-grid-padding);
  margin-right: auto;
  margin-left: auto;

  @include media(">=tablet") {
    padding-right: var(--page-padding-tablet);
    padding-left: var(--page-padding-tablet);
  }

  @include media(">=notebook") {
    padding-right: var(--page-padding-notebook);
    padding-left: var(--page-padding-notebook);
  }
}
